@model Request.Domain.Entities.RequestDbModel

<tr>
    <th scope="row">@Model.UserName</th>
    <td>@Model.PhoneNumber</td>
    <td>
        @if (string.IsNullOrEmpty(@Model.ManagerComment))
        {
            <div class="input-group mb-3">
                <form asp-action="ManagerComment" asp-controller="Requests" method="post" enctype="multipart/form-data">
                    <input asp-for="ManagerComment" type="text" class="form-control" placeholder="Comment" aria-label="Comment" aria-describedby="basic-addon2">
                    <input asp-for="Id" type="text" hidden value="@Model.Id">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Comment</button>
                    </div>
                </form>
            </div>
        }
        else
        {
            @Model.ManagerComment
        }
    </td>
    <td>
        @if (@Model.WasCalled == false)
        {
            <form asp-action="ChangeCalled" asp-controller="Requests" method="post" enctype="multipart/form-data">
                <input id="request_id" asp-for="Id" type="text" hidden value="@Model.Id">
                <button id="change_button" type="submit" class="btn btn-secondary btn-sm">Call</button>
            </form>
        }
        else
        {
            @Model.WasCalled
        }
    </td>
</tr>