@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model Admin.MVC.ViewModels.CreateAdminVM
@{
    
    var roles = new List<string>
    {
        "manager", "copywriter", "instructor", "moderator"
    };
    var description = new List<string>
    {
        "Просматривать и работать с  запросами и зарегистрированными пользователями",
        "Добавление новыех курсов и редактирование имеющиеся",
        "Управления домашними заданиями",
        "Может еще что-то делать"
    };
}
@{
    ViewBag.Title = "Create Admin";
    Layout = "_Layout";
}
<h4 style="text-align: center; color: red">@ViewData["Error"]</h4>
<div class="center" style="width: 400px">
    <h3 style="text-align: center">Создание нового админа</h3>
    <form asp-action="CreateAdmin" asp-controller="Admins" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="mb-3">
            <label for="exampleInputLogin" class="form-label">Логин</label>
            <input type="text" class="form-control" id="exampleInputLogin" asp-for="@Model.UserName">
            <span asp-validation-for="@Model.UserName"></span>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Пароль</label>
            <input type="password" class="form-control" asp-for="@Model.Password" id="exampleInputPassword1">
            <span asp-validation-for="@Model.Password"></span>
        </div>
        <div class="mb-3">
            <label for="exampleInputPasswordC" class="form-label">Пароль</label>
            <input type="password" class="form-control" asp-for="@Model.ConfirmPassword" id="exampleInputPasswordC">
            <span asp-validation-for="@Model.ConfirmPassword"></span>
        </div>
        <div>
            <h5 class="center">Выбор прав для нового админа</h5>
        </div>
        @for(int i=0; i< roles.Count(); i++)
        {
            <table class="table">
                <tr>
                    <td style="text-align: center; width: 10px"><input type="checkbox" asp-for=@Model.Roles[i] value=@roles[i] /></td>
                    <td>@description[i]</td>
                </tr>
            </table>
            
            
        }
        <button type="submit" class="btn btn-info">Зарегистрировать</button>
    </form>

</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}