@using Microsoft.AspNetCore.Server.Kestrel.Core
@model Admin.MVC.ViewModels.EditProfileVm

@{
    ViewBag.Title = "Edit";
    Layout = "_Layout";
}
@if (@Model.Users.Any())
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Логин</th>
            <th scope="col">Статус</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        @for (int i = 0; i < @Model.Users.Count(); i++)
        {
            <tr>
                <td>@Model.Users[i].UserName</td>
                @if (@Model.Users[i].Ban)
                {
                    <td id="@Model.Users[i].Id+block" style="color: red">Заблокирован</td>
                    <td class="cst-none" id="@Model.Users[i].Id+active" style="color: green">Активный</td>
                }
                else
                {
                    <td id="@Model.Users[i].Id+active"  style="color: green">Активный</td>
                    <td id="@Model.Users[i].Id+block" class="cst-none" style="color: red">Заблокирован</td>
                }
                @if (@Model.Users[i].Ban)
                {
                    <td  id="@Model.Users[i].Id+activebtn">
                        <button class="btn btn-success cst-button" id="@Model.Users[i].Id">Разблокировать</button>
                    </td>
                    <td class="cst-none" id="@Model.Users[i].Id+blockbtn">
                        <button class="btn btn-danger cst-button" id="@Model.Users[i].Id">Заблокировать</button>
                    </td>
                }
                else
                {
                    <td id="@Model.Users[i].Id+blockbtn">
                        <button  class="btn btn-danger cst-button" id="@Model.Users[i].Id">Заблокировать</button>
                    </td>
                    <td  id="@Model.Users[i].Id+activebtn" class="cst-none">
                        <button class="btn btn-success cst-button" id="@Model.Users[i].Id">Разблокировать</button>
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <h3 style="text-align: center">Список пользователей пуст</h3>
}
<script>
$(document).ready(function(){
    $('.cst-button').click(async function (event){
        let id = event.target.id;
        let idBlock = id+"+block";
        let idActive = id+"+active";
        let activeBtn = id+"+activebtn";
        let blockBtn = id+"+blockbtn";
        console.log(id)
        await fetch("/Admins/EditProfile",{
            method:"post",
            headers: {"Content-Type":"application/json"},
            body:JSON.stringify({UserId:id}),
        }).then(response => {
            if(response.ok){
                return response.text()
            }}).then(text =>{
                if (text === "true"){
                    document.getElementById(idActive).classList.add("cst-none")
                    document.getElementById(idBlock).classList.remove("cst-none")
                    document.getElementById(blockBtn).classList.add("cst-none")
                    document.getElementById(activeBtn).classList.remove("cst-none")
                }
                else{
                    document.getElementById(idActive).classList.remove("cst-none")
                    document.getElementById(idBlock).classList.add("cst-none")
                    document.getElementById(blockBtn).classList.remove("cst-none")
                    document.getElementById(activeBtn).classList.add("cst-none")
                }
 
            }).catch(err => {
                     console.log(err);
                   });
    })
});
</script>